<footer id="footer">
    <div class="container">
        <ul class="list-inline">
            <li class="list-inline-item footer-menu" routerLinkActive="active">
                <a class="nav-link " href="# " [routerLink]="[ '/inicio']">Inicio</a>
            </li>
            <li class="nav-item list-inline-item footer-menu" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ '/productos']">Productos</a>
            </li>
            <li class="nav-item list-inline-item footer-menu" routerLinkActive=" active ">
                <a class="nav-link" [routerLink]="[ '/contacto']">Contáctenos</a>
            </li>
        </ul>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="nav-link" href="https://api.whatsapp.com/send?phone=50689346666" target="_blank">

                    <i class="fab fa-whatsapp fa-2x fa-lg" style="color:#fff"></i>

                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" href="https://www.facebook.com/" target="_blank">
                    <i class="fab fa-facebook-square fa-2x fa-lg " style="color:#fff"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>