<div class="contenedorPrincipal">
    <div class="background">

    </div>
        <div class="container">
            <h2 class="text-center mb-4">¿Quienes somos?</h2>
            <p> Consultores Profesionales de flores de Bach, nos ubicamos en Liberia, atendemos con cita previa a los siguientes números de WhatsApp (506) 8313-1056 y (506) 8934-6666, queremos mediante las esencias florales ayur a mejorar la salud emocional
                a las personas de nuestros alrededores, compartiendo los beneficios de las remedios florales.</p>
            <p> El objetivo de ésta página web es recoger el legado del Dr. Bach, así como dar a conocer en la zona una nueva alternativa que puede ser de gran beneficio.</p>
                <h2 class="text-center mb-4">¿Que son las flores de Bach?</h2>
                <p>Las Flores de Bach son una serie de esencias naturales utilizadas para tratar diversas situaciones emocionales, como miedos, soledad, desesperación, estrés, depresión entre otras.</p>
                <p>El Dr. Bach era un gran investigador, además de médico y homeópata. Experimentó entre los años 1926 y 1934 con diversas flores silvestres nativas de la región de Gales, en Gran Bretaña, de donde él era originario, hasta encontrar 38
                    remedios naturales, cada uno con propiedades curativas para distintos problemas emocionales. A estas 38 flores se les llaman Flores de Bach. </p>
                <p>Está orientada a brindar serenidad y salud a las personas. Contempla al ser humano de forma integral; como un ser físico, mental, emocional y espiritual, con personalidad, pensamientos y reacciones ante los diferentes estímulos de
                    la vida, por ello considera que logrando un mayor equilibrio emocional y mental se consigue un bienestar que también se apreciará a nivel físico</p>
                <p>El campo de acción de los florales es muy amplio, abarcando innumerables situaciones emocionales como son; culpa, depresión, celos, resentimiento, duelos, angustia, confusión, ansiedad, miedos, sensación de fracaso, aburrimiento, tristeza,
                    conmociones, inseguridad, indecisión vocacional, temperamento iracundo, depresión y pesimismo.</p>
                <p>
                    El método curativo del Dr. Bach se basa en el hecho de que la enfermedad no sólo es el resultado de trastornos corporales, sino que tiene su origen en sentimientos y actitudes negativas que bloquean nuestra energía vital.
                </p>
                <p>
                    Las flores de Bach es el primer y más conocido sistema floral, son el resultado de la inquietud del doctor Bach por lograr sanar a las personas de la forma más dulce posible y de su profunda y respetuosa observación del ser humano.
                </p>
                <p>
                    Las flores de Bach son las precursoras e inspiradoras del nacimiento de todos los sistemas florales que se utilizan hoy en día.
                </p>
               
        </div>
